body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

.custom-navbr {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.1);


}




.custom-nav-butn {
  border: 1px solid rgba(94, 59, 238, 1);
  color: rgba(94, 59, 238, 1);
  opacity: 1;
  border-width: 1px;
  border-radius: 4px;

}

.custom-nav-butn:hover {
  background-color: rgba(94, 59, 238, 1);
  border-color: rgba(94, 59, 238, 1);
  color:rgba(255, 255, 255, 1);
}

.custom-links {
  color: rgba(15, 18, 33, 1);

}

.custom-active-link {
  color: rgba(94, 59, 238, 1);

}

/* hero section */

.hero-section {
  background: rgba(245, 252, 255, 1);

}

.line-height {
  line-height: 52.9px;
}

@media (min-width:0px) and (max-width: 767px) {
  .line-height {
    line-height: 30px;
  }

}

.custom-responsive-img {
  width: 70%;
  /* for Smaller screens */
  max-width: 600px;
  height: auto;
}

@media (min-width: 992px) {
  .custom-responsive-img {
    width: 100%;
    /* for large screens */
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: rgba(40, 41, 56, 1);



}

.hero-text span {
  color: rgba(94, 59, 238, 1);

}

.custom-btun {
  background: rgba(94, 59, 238, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 5.33px;
}

/* section 2 */
.custom-card-body {
  background: rgba(245, 252, 255, 1);
  border-radius: 10.67px;
}

.custom-border {
  border-bottom: 4px solid rgba(94, 59, 238, 1);
}

.card-body-p {
  color: rgba(28, 30, 83, 1);
  font-weight: 400;
  letter-spacing: 0%;


}

/* section 3 */

/* 100% width for mobile screens */
@media (max-width: 768px) {
  .card-body-p {
    width: 100% !important;
  }
}

/* section 4  */
.custom-shadow {
  box-shadow: 0px 5.33px 16px 0px rgba(0, 0, 0, 0.15);

}

/* section 5 */
.section-5 {
  background: rgba(245, 252, 255, 1);

}

.sec-5-border {
  border-radius: 6px;
  border: 1.33px solid rgba(0, 107, 106, 1)
}

/* section 6 */
.section-6 {
  background: rgba(255, 255, 255, 1);
}

.form-text-color {
  color: rgba(40, 41, 56, 1);
}

.border-primary {
  /* Purple outline */
  border: 1.33px solid rgba(94, 59, 238, 1) !important;
}

.btn-primary {
  background-color: #6c3bff;
  border-color: hsl(255, 100%, 62%);
}

.btn-primary:hover {
  background-color: #5a2fd4;
  border-color: #5a2fd4;
}

/* footer section */
.custom-footer {
  background: rgba(245, 252, 255, 1);

}

.custom-colr {
  color: rgba(40, 41, 56, 1);
}
.heart-color{
 color: rgba(230, 40, 114, 1);

}